h1 {
  font-size: 3em;
  font-weight: bold;
}

#palette {
  height: 90px;
  width: 90px;
  margin-left: 55px;
  background-color: rgb(77, 77, 77);
}

#mainContainer {
  display: flex;
}

td,
tr {
  padding: 5px;
  align-items: center;
}

.rangeBar {
  width: 200px;
}

.textBoxes {
  width: 25px;
}

.colors {
  font-weight: bolder;
  font-size: 16px;
}

#red {
  color: red;
}

#green {
  color: green;
}

#blue {
  color: blue;
}
